# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/

# App config
/app/config/parameters.yml

# Generated folders
/assets/
/contao-manager/
/system/*
!/system/config/
/system/config/localconfig.php
/system/config/tcpdf.php
/var/
/vendor/

# Symlinked resources
/web/assets
/web/bundles/
/web/files/
/web/share/
/web/system/
/web/vendor/

# Skip files
/system/modules/*/.skip

# Nutshell
/node_modules/
/files/starterkit/dist/*/*
!/files/starterkit/dist/*/index.html
nutshell
