{
  "name": "euf_nutshell_kit",
  "version": "1.0.0",
  "private": true,
  "dependencies": {
    "browser-sync": "^2.26.7",
    "gulp": "^4.0.2",
    "gulp-autoprefixer": "^7.0.1",
    "gulp-clean-css": "^4.2.0",
    "gulp-imagemin": "^6.1.1",
    "gulp-include": "^2.4.1",
    "gulp-notify": "^3.2.0",
    "gulp-pixrem": "^1.0.0",
    "gulp-plumber": "^1.2.1",
    "gulp-sass": "^4.0.2",
    "gulp-sourcemaps": "^2.6.5",
    "gulp-uglify": "^3.0.2",
    "imagemin-pngcrush": "^6.0.0"
  }
}
