// *
// * Erdmann & Freunde - Nutshell
// * Starterkit
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE 
// *

//
// COMPONENTS/FAQ
// --------------------------------------------------

// PUT YOUR SASS-VARIABLES HERE

// --------------------------------------------------

@import "../../../../nutshell/scss/components/faq";

// --------------------------------------------------

// PUT YOUR CUSTOM-PROPERTIES HERE

// --------------------------------------------------

// PUT YOUR STYLES HERE
